@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

body{
    background-color: #242424;
}

#comic_logo{
    width: 70px;
    margin-left: 150px;
    margin-top: 20px;
}

#hamburguer_menu{
    width: 70px;
    margin-bottom: 140px;
    cursor: pointer;
}

.img_menu_hamb{
    width: 70px;
    margin-bottom: 25px;
    filter: grayscale(0.8);
    cursor: pointer;
    transition: 500ms;
}

.img_menu_hamb:hover{
    filter: grayscale(0);
    transition: 500ms;
}

#barra_lateral{
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 9, 160);
    width: 70px;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

#quadrinhos{
    display: flex;
    flex-direction: column;
}


.titulo_principal{
    color: white;
    font-size: 50px;
    margin: 30px 150px;

}

.titulo_principal h2{
    font-family: 'Nunito', sans-serif;
}

#sessao_quadrinhos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    color: white;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    width: 220px;
    height: 470px;
    margin-right: 10px;
    
}

.box h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.box img{
    width: 220px;
    margin-bottom: 10px;
}

.box h4{
    font-size: 12px;
    margin-bottom: 10px;
}

.box p{
    font-weight: bold;
}

.box div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box div img{
    width: 30px;
    cursor: pointer;
}